<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-heading">Modal header</h3>
  </div> 
  <div class="modal-body">
      <div class="row">
         <div class="col-sm-6">
          <%= form_for(@item_sale) do |f| %>
            <% if @item_sale.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@item_sale.errors.count, "error") %> prohibited this Item from being saved:</h2>

                <ul>
                <% @item_sale.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

          <div class="row">
            <div class="field form-group col-sm-6">
              <%= f.label :product, html: {class:'col-sm-2 control-label'} %><br>
              <%= f.select :product, @produtos.map {|item| [item.nome, item.nome]}%>
            </div>

            </div>
            
            <div class="row">
                <div class="field form-group col-sm-6">
                  <%= f.label :fornecedor, html: {class:'col-sm-2 control-label'} %><br>
                  <%= f.select :fornecedor, @fornecedores.map {|item| [item.nome, item.nome]} %>
                </div>
            </div>
          
            <div class="row">
                <div class="field form-group col-sm-6">
                  <%= f.label :price_buy, html: {class:'col-sm-2 control-label'} %><br>
                  <%= f.number_field :price_buy %>
                </div>
            </div>

            <div class="row">
                <div class="field form-group col-sm-6">
                  <%= f.label :price_sale, html: {class:'col-sm-2 control-label'} %><br>
                  <%= f.number_field :price_sale %>
                </div>
            </div>

            <div class="row">
                <div class="field form-group col-sm-12">
                  <%= f.label :quantity, html: {class:'col-sm-2 control-label'} %><br>
                  <%= f.number_field :quantity %>
                </div>
            </div>

            <div class="row">
                <div class="field form-group col-sm-6">
                  <%= f.label :fornecedor, html: {class:'col-sm-2 control-label'} %><br>
                  <%= f.select :fornecedor, @fornecedores.map {|item| [item.nome, item.nome]} %>
                </div>
            </div>

            <div class="row">
                <div class="actions form-group col-sm-6">
                  <%= f.submit %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
