<p id="notice"><%= notice %></p>

<h1>Listing Ticket Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Seat #</th>
      <th>Address</th>
      <th>Price paid</th>
      <th>Email address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_events.each do |ticket_event| %>
      <tr>
        <td><%= ticket_event.name %></td>
        <td><%= ticket_event.seat_id_seq %></td>
        <td><%= ticket_event.address %></td>
        <td><%= ticket_event.price_paid %></td>
        <td><%= ticket_event.email_address %></td>
        <td><%= ticket_event.phone %></td>
        <td><%= link_to 'Show', ticket_event %></td>
        <td><%= link_to 'Edit', edit_ticket_event_path(ticket_event) %></td>
        <td><%= link_to 'Destroy', ticket_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket event', new_ticket_event_path %>
