
<div class="container-fluid ">
   <div class="col-sm-8">
      <%= form_for(@complement, html: {class:"form-horizontal"}) do |f| %>
        <% if @complement.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@complement.errors.count, "error") %> prohibited this complement from being saved:</h2>

            <ul>
            <% @complement.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="row">
        <div class="field form-group col-sm-6">
          <%= f.label :nome, html: {class:'col-sm-2 control-label'}%><br>
          <%= f.text_field :nome %>
        </div>

        <div class=" form-group col-sm-6">
          <% if $tipo_selected %>
            <%= f.label :tipo%><br>
            <%= f.text_field :tipo, value: $tipo_selected, readonly: true %>
          <% else%>
            <%= f.label :tipo%><br>
            <%= f.select :tipo, @lit_tipos.map { |c| [c]} , html: {class:'selectpicker'} %>

            <%end%>
        </div>
      </div>
      <div class="row">
        <div class="field form-group col-sm-6">
          <%= f.label :grouping %><br>
          <%= f.text_field :grouping %>
        </div>
        <div class="field form-group col-sm-6">
          <%= f.label :inf %><br>
          <%= f.text_field :inf %>
        </div>
        </div>
      <div class="row">
        <div class="field form-group col-sm-12">
          <%= f.label :coments %><br>
          <%= f.text_area :coments %>
        </div>
       </div>
        <div class="row">
        <div class="actions">
          <%= f.submit %>
        </div>
        </div>
      <% end %>
    </div>
</div>