<p id="notice"><%= notice %></p>

<h1>Listing Complements</h1>

<dif class="table-responsive">
<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Grouping</th>
      <th>Inf</th>
      <th>Coments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complements.each do |complement| %>
      <tr>
        <td><%= complement.nome %></td>
        <td><%= complement.tipo %></td>
        <td><%= complement.grouping %></td>
        <td><%= complement.inf %></td>
        <td><%= complement.coments %></td>
        <td><%= link_to 'Show', complement %></td>
        <td><%= link_to 'Edit', edit_complement_path(complement) %></td>
        <td><%= link_to 'Destroy', complement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</dif>
<br>

<%= link_to 'New Complement', new_complement_path %>
